@font-face {
  font-family: "IRANSans";
  src: url("../fonts/IRANSans/IRANSansX-Regular.woff");
}

@font-face {
  font-family: 'IRANSansMedium';
  src: url('../fonts/IRANSans/IRANSansX-Medium.woff');
}